
 body {
    font-family: 'Lucida Console', monospace;

}
/* Navigation Links*/
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: double underline;
}

	
#wrapper{
    width: 1300px;
    margin: auto;
}
header{
     background-color: #ffffff;
}
.menu {
    margin: 13px 20px;
	font-size: 25px;
}
#content{
    margin-top: 30px;
    overflow: auto;
}
/*Drop downs in header*/
.dropbtn {
    font-family: 'Lucida Console', monospace;
    background-color: #ffffff;
    margin: 13px 20px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    font-size: 18px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: double underline;
}


/*Gallery*/
#gallery-page-content{
    text-align: center;
    width: 1100px;
    margin: 0px auto;
}
.gallery{
    display: block;
    float: left;
    margin: 10px; 10px;
}
/*Cozy Murder*/

#cozy-content{
    text-align: center;
    width: 1100px;
}

/*Main Page*/
.class-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px 200px;
}

.class-block {

}
/*Modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*fiber Code*/
#knitGallery{
    max-width: 600px;
    position: relative;
    margin: auto;
}

.gallerySlide{
    display: none;
    width: 600px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.6);
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
